APIGateway/.vs/APIGateway/DesignTimeBuild/.dtbcache
APIGateway/.vs/APIGateway/v15/.suo
APIGateway/.vs/APIGateway/v15/Server/sqlite3/db.lock
APIGateway/.vs/APIGateway/v15/Server/sqlite3/storage.ide
APIGateway/.vs/APIGateway/v15/Server/sqlite3/storage.ide-shm
APIGateway/.vs/APIGateway/v15/Server/sqlite3/storage.ide-wal
APIGateway/APIGateway/obj/APIGateway.csproj.nuget.cache
APIGateway/APIGateway/obj/APIGateway.csproj.nuget.g.props
APIGateway/APIGateway/obj/APIGateway.csproj.nuget.g.targets
APIGateway/APIGateway/obj/project.assets.json
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/APIGateway.AssemblyInfo.cs
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/APIGateway.AssemblyInfoInputs.cache
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/APIGateway.assets.cache
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/APIGateway.csproj.CoreCompileInputs.cache
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/APIGateway.csprojAssemblyReference.cache
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/APIGateway.RazorAssemblyInfo.cache
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/APIGateway.RazorAssemblyInfo.cs
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
APIGateway/APIGateway/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BookService/
